#content {
	padding: 15px;
}

.woocommerce-breadcrumb {
	font-size: 0;
}

h2.widget-title,
.woocommerce-breadcrumb a {
	display: none;
}

#content .wrap #primary {
	float: right;
	margin-left: 45px;
}

.woocommerce-product-search input[type='submit'] {
	left: 0.5em;
}

#woocommerce-product-search-field {
	padding-left: 100px;
	padding-right: 0.7em;
}

.widget .product_list_widget li a.remove {
	float: left;
	padding-top: 2px;
}

.single-product .woocommerce-product-rating .star-rating {
	float: right;
	margin-left: .25em;
	margin-right: 0;
}

.star-rating::before {
	right: 0;
}

.star-rating span {
	float: right;
	right: 0;
}

.star-rating span::before {
	right: 0;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	float: right;
	margin-left: 3.8%;
	margin-right: 0;
}
h3:after {
	content: "r";
	font-size:0;
}
